.flexbox {
    display: flex;
    border: 2px solid rgb(5, 5, 144);
    padding: 20px;
}

.item {
    border: 2px solid rgb(174, 211, 88);
    padding: 20px;
}

#box1 {
    justify-content:space-evenly;
    background-color: rgb(29, 92, 29);
    color:white;
}

#box2 {
    justify-content:center;
    background-color: aliceblue;
}

#box3 {
    justify-content:center;
    background-color: gainsboro;
    color:rgb(5, 5, 5)
}

#box4 {
    justify-content:center;
    background-color: rgb(29, 92, 29);
    color:white;
}