.flexbox {
    display: flex;
    padding: 20px;
    border-radius: 5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.item {
    padding: 20px;
}

#box1 {
    justify-content:space-evenly;
    background-color: rgb(29, 92, 29);
    color:white;

}

#box2 {
    justify-content:center;
    background-color: aliceblue;
    text-align: center;
    color:darkblue;
    font: size 19px;
}

#box3 {
    justify-content:center;
    background-color: gainsboro;
    color:rgb(5, 5, 5)
}

#box4 {
    justify-content:center;
    background-color: rgb(29, 92, 29);
    color:white;
}

img {
    border-radius: 15%;
}